neo>=0.9.0
elephant>=0.9.0
numpy>=1.18.1
quantities>=0.12.1
matplotlib>=3.3.2
seaborn>=0.9.0
# six>=1.10.0
# scikit-learn>=0.23.2
# statsmodels>=0.12.1
# elephant @ git+https://github.com/NeuralEnsemble/elephant.git#egg=elephant[extras]
